<h1>Авторизация</h1>
<%= form_with url: root_path, method: :get do |form|%>
<%= form.label('Логин')%><br>
<%= form.text_field(:login)%> <br> <br>
<%= form.label('Пароль')%><br>
<%= form.text_field(:password)%><br><br>
<%= form.submit("Войти")%>
<%end%>
<br>
<%=link_to "Зарегестрироваться", new_user_path%>
